{% extends 'base.html' %}
{% load sim_filters %}
{% block title_bl %}Blocks{% endblock %}

{% block body_bl %}
<div class="container">
    <h1>区块表</h1> <!--List of blocks-->>
    <a class="btn btn-light btn-sm" href="{% url 'simulation:transactions' %}" role="button">查看所有交易 </a> <!--See all transactions-->
    <a class="btn btn-light btn-sm" href="{% url 'welcome:home' %}" role="button">回到主页</a> <!--Back to homepage-->
    {% if messages %}
        {% for message in messages %}
            <div class="{{ message.extra_tags }} text-white">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">前一区块的hash值</th> <!--Previous Hash-->
                <th scope="col">当前区块的hash值</th> <!--Block Hash-->
                <th scope="col">Merkle根的hash值</th> <!--Merkle Root Hash-->
                <th scope="col">随机数</th>  <!--Nonce-->
                <th scope="col">时间戳</th> <!--Timestamp-->
            </tr>
        </thead>
        <tbody>
            {% for block in blocks %}
            <tr>
                <td><a href="{% url 'simulation:block_detail' block_hash=block.h %}">{{ block.id }}</a></th>
                <td title="{{ block.prev_h }}"><code>{{ block.prev_h|truncatechars:30 }}</code></td>
                <td title="{{ block.h }}"><code>{{ block.h|truncatechars:30 }}</code></td>
                <td title="{{ block.merkle_h }}"><code>{{ block.merkle_h|truncatechars:30 }}</code></td>
                <td>{{ block.nonce }}</td>
                <td>{{ block.timestamp|unix_to_date|date:"Y-m-d H:i:s" }}</td>
            </tr>
            {% empty %}
                <p>暂无记录</p> <!--No record.-->
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-primary btn-block" href="{% url 'simulation:verify' %}" role="button" title="Verify all transactions in each block">认证</a>
    <a class="btn btn-outline-primary btn-block" href="{% url 'simulation:sync' %}" role="button" title="Sync data with virtual nodes">同步</a>
</div>
{% endblock %}