{% extends 'base.html' %}
{% block title_bl %}Transactions{% endblock %}

{% block body_bl %}
<div class="container">
    <h1>未被认证的投票记录</h1>
    <p>最后100个投票纪录 (或者全部如果 &lt;=100)</p>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">投票者ID</th> <!--Voter ID-->
                <th scope="col">所投票</th> <!--Vote-->
                <th scope="col">时间戳</th> <!--Timestamp-->
            </tr>
        </thead>
        <tbody>
            {% for ballot in votes %}
            <tr>
                <td><code>{{ ballot.id }}</code></th>
                <td>{{ ballot.vote }}</td>
                <td>{{ ballot.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a class="btn btn-primary btn-block" href="{% url 'simulation:seal' %}" role="button">把交易存到区块</a><!--Mine into blocks-->
</div>
{% endblock %}