{% extends 'base.html' %}
{% load sim_filters %}
{% block title_bl %}Transactions{% endblock %}

{% block body_bl %}
<div class="container">
    <h1>被认证过的投票记录</h1><!--List of confirmed votes-->
    <a class="btn btn-light btn-sm" href="{% url 'simulation:blockchain' %}" role="button">查看所有区块</a><!--See all blocks-->
    <a class="btn btn-light btn-sm" href="{% url 'welcome:home' %}" role="button">回到主页</a><!--Back to homepage-->
    <div style="margin:1%; padding:1%; border:1px solid black;">
        {% for r in result %}
            Candidate #{{ forloop.counter }}: {{ r }} votes<br>
        {% endfor %}
    </div>

    <small>当前页面 {{ votes_pg.number }} of {{ votes_pg.paginator.num_pages }}</small>
    <div class="pagination pb-2">
        <span class="step-links">
            {% if votes_pg.has_previous %}
                <a class="btn btn-light btn-sm" href="?page=1" role="button">&laquo; 第一个</a>
                <a class="btn btn-light btn-sm" href="?page={{ votes_pg.previous_page_number }}" role="button">前一个</a>
            {% endif %}
            {% if votes_pg.has_next %}
                <a class="btn btn-light btn-sm" href="?page={{ votes_pg.next_page_number }}" role="button">下一个</a>
                <a class="btn btn-light btn-sm" href="?page={{ votes_pg.paginator.num_pages }}" role="button">最后一个 &raquo;</a>
            {% endif %}
        </span>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">投票者ID</th>
                <th scope="col">投票纪录</th>
                <th scope="col">时间戳</th>
                <th scope="col">Hash值</th>
                <th scope="col">区块</th>
            </tr>
        </thead>
        <tbody>
            {% for ballot, h, bh in votes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><code>{{ ballot.id }}</code></th>
                <td>{{ ballot.vote }}</td>
                <td>{{ ballot.timestamp|unix_to_date|date:"Y-m-d H:i:s" }}</td>
                <td title="{{ h }}"><code>{{ h|truncatechars:20 }}</code></td>
                <td><a class="btn btn-light btn-sm" href="{% url 'simulation:block_detail' block_hash=bh %}" role="button">go to block</a></td>
            </tr>
            {% empty %}
                <p>没有记录.</p>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}